body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
	margin: 10px 30px;
	padding: 3px 40px;
	background-color: #ccc;
	width: 300px;
    box-sizing: border-box;
}
input{
    padding: 2px;
    border-radius: 5px;
    box-sizing: border-box;
}
.submit{
	padding: 10px 55px;
}
.none{
    display: none;
}