*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li{
    text-decoration: none;
    list-style: none;
}
html{
	scroll-behavior: smooth;
}
.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.primary_color{
    color: #E31B6D;
}
.secondary_color{
    color: #05C2C9;
}
.info_color{
    color: #252934;
}

#slider{
    min-height: 600px;
    background-image: url(./images/slider.png);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;


    text-align: center;
    display: flex;
	align-items : center;
	color: #fff;
	font-family: Comic Sans MS;
	font-size: 46px;
	box-sizing: border-box;
}

#slider span{
    font-size: 50px;
}
#button-start{
    background-color: transparent;
    color: #fff;
    padding: 12px 22px;
    border: 2px solid #fff;
    font-size: 21px;
    transition: .5s;
}

#button-start:hover{
    background-color: #05C2C9;
    border: 2px solid #05C2C9;

}

#button-end{
    background-color: transparent;
    color: #fff;
    padding: 12px 22px;
    border: 2px solid #E31B6D;
    font-size: 21px;
    transition: .5s;
}

#button-end:hover{
    background-color: #E31B6D;
    border: 2px solid #ccc;

}

#arrow-r{
    transition: .5s;
	padding-left: 6px;
	padding-top: 1px;


}
.navbar{
	border-bottom: 4px solid #05C2C9;
}
.navbar-brand, .navbar-brand:hover{
	color: #fff;
}
.nav-item  a{
	color: #ccc;
}
.nav-link:hover{
	border-bottom: 1px solid #E31B6D;
}
.width-2{
	width: 200px;
	margin: 0 auto;
}
.border-b-auto{
	border-bottom: 4px solid black;
	width: 90px;
	margin: 0 auto;
	animation-delay: .2s;

}

.border-b{
	border-bottom: 3px solid #05C2C9;
	width: 80px;

}
.div-img-card{
	height: 250px;
	overflow: hidden;
}

.card{
	border: none;
}

#project{
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #F5F5F5;
}
.project-col{
	position: relative;
	
}
.project-col img {
	display: block;
	width: 100%;
	height: 250px;
}
  
.project-buttons button{
	padding: 4px 10px;
	background-color: #E31C6E;
	border-radius: 5px;
	border: 2px solid #E31C6E;
}
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s;
	background-color: #fff;
   
  }
  
  .project-col:hover .overlay {
	opacity: 1;
	
  }
  
  .overlay:hover .text1{
	  animation: slide1 .5s 1;
  }
  .overlay:hover .text2{
	  animation: slide2 .5s 1;
  }
  
  
  
  
  .text1 {
	color: #ccc;
	font-size: 20px;
	position: absolute;
	left: 40%;
	top: 30%;
	
  
  }
  
  .text2 {
	color: #ccc;
	font-size: 20px;
	position: absolute;
	left: 40%;
	bottom: 30%;
	
  
  }
  
  @keyframes slide1{
	  
	  from{
		  top: 5%;
	  }
	  to{
		  top: 30%;
	  }
  }
  
  @keyframes slide2{
	  
	  from{
		  bottom: 5%;
	  }
	  to{
		  bottom: 30%;
	  }
  }
  

  #blog{
	padding-top: 70px;
	padding-bottom: 70px;
}  
#contact{
	background-color: #252934;
}
.br-white{
	border-color: #fff;
}

#name, #email, #message{
	width: 500px;
	padding: 8px 10px;
	background-color: #1E242C;
	margin-top: 4px;
	border-color: #1E242C;
	color: #fff;
}

.totop{
	margin: 50px auto;
	box-sizing: border-box;
}

@media screen and (max-width: 1300px){
    .container{
        width: 90%;
    }
}

/* @media screen and (top: 200px){
    #nav-item-1{
		background-color: #E31B6D;
	}
}
 */

